ul li {
  display: inline;
  font-size: 25px;
}
ul li > a {
  color: black;
}
.header {
  height: auto;
 
  background: #cbdcf7;
  position: relative;
  text-decoration: none;
  transition: background-color 1s linear;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #cbdcf7;
}

h1 {
  margin-left: -220px;
  font-size: 40px;
  color:#000000;
}
ul li > a {
  text-decoration: solid;
}
ul li > a:hover {
  color: brown;
  transition: 0.4s ease-in-out;
}
.main {
  background-color: white;
}
.footer {
  background-color: whitesmoke;
}
.container {
  position: relative;
  text-align: center;
  color: white;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text */
#button1 {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: #000000;
  box-sizing: border-box;
  width: 300px;
  border: 15px solid black;
  padding: 50px;
  margin: 20px;
  background-color: whitesmoke;
  border-radius: 15px;
}
#button1 {
  background-color: #701b8c; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
}

#button1:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

#mainnav {
 
  border: 3px;
  border-color: black;
  
}
#mainnav li {
  display: inline;
  margin-right: 25px;
  cursor: pointer;
}
#button1 {
  border-radius: 4px;
  background-color: #5ca1e1;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 32px;
  padding: 16px;
  width: 220px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 36px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
}

#button1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#button1:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 14px;
  right: -20px;
  transition: 0.5s;
}

#button1:hover {
  padding-right: 24px;
  padding-left: 8px;
}

#button1:hover:after {
  opacity: 1;
  right: 10px;
}
#wrap {
  width: 80%;
  margin: auto;
  background: #fff;
  overflow: hidden;
  padding: 15px;
  border: 5px solid;
  border-color: #3d8fdb;
  background-color: white;
  font-size:30px;
border-radius: 10px;
}

#wrap2 {
  width: 20%;
  margin: auto;
  background: #fff;
  overflow: hidden;
  padding: 15px;
  border: 5px solid;
  border-color: #ffbf00;
  background-color: yellow;
  display:flex;
  font-size:20px;
  display: inline-block;
  border-radius: 10px;

}
#wrap2 h2{
  margin-left: 30px;
  margin-top:12px;
  color:brown;
}
#wrap3 {
  width: 20%;
  margin: auto;
  background: #fff;
  overflow: hidden;
  padding: 15px;
  border: 5px solid;
  border-color: green;
  font-size:20px;
  background-color: lightgreen;
  display: inline-block;
  margin-left: 60px;
  margin-top: 20px;
  border-radius: 10px;
}
#wrap3 h2{
  margin-left: 30px;
  margin-top:12px;
  color:brown;
}
#wrap4 {
  width: 20%;
  margin: auto;
  background: #fff;
  overflow: hidden;
  padding: 15px;
  border: 5px solid;
  border-color: purple;
  background-color: lightpink;
  display: inline-block;
  font-size:20px;
  margin-left: 60px;
  border-radius: 10px;
}
#wrap4 h2{
  margin-left: 30px;
  margin-top:12px;
  color:brown;
}
#wrap5 {
  width: 20%;
  margin: auto;
  background: #fff;
  overflow: hidden;
  padding: 15px;
  border: 5px solid;
  border-color: brown;
  background-color: #bd4a55;
  display: inline-block;
  font-size:20px;
  margin-left: 60px;
  border-radius: 10px;
}
#wrap5 h2{
  margin-left: 30px;
  margin-top:12px;
  color:black;
}
#wrap2 #wrap3 #wrap4 #wrap5{
  justify-content: center;
}
.box{
  display:flex;
}
body{
  margin:0;
  padding:0;
  /* max-width:100vw; */
}
img{
  max-width:99vw;
  
}
#button2 {
  border-radius: 4px;
  background-color: blueviolet;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

#button2{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#button2:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#button2:hover  {
  padding-right: 25px;
}

#button1:hover:after {
  opacity: 1;
  right: 0;
}
nav#mainnav{
  background-color:white;
  border:5px solid black;
  border-radius:10px;
}

.pic{
  box-sizing: content-box;
  background-color: whitesmoke;
  display:inline-block;
  padding: 5px;
  border-radius: 10px;
 
  background-color:lightblue;
  
}
.img{
  padding: 5px;
  margin: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  
}
.footer p{
  text-align: center;
  font-size:30px;
  
}
.footer ul li{
  text-align: center;
  
}
.pic:hover{
  cursor: pointer;
  box-shadow:4px 4px 8px #000000;
}
.omg{
  padding: 5px;
  margin: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.box h2{
  text-align: center;
  
}
.end p{
color:white;
font-size:30px;
text-align: center;
}
.end h3{
  color:white;
  margin-top: -300px;
  margin-left: 800px;
  font-size: 30px;
}

.end h1{
  color:white;
}
.digits{
  color:yellow;
}
.list{
  color:white;
  margin-bottom: 100px;
  display: flex;
}
.extra{
  background-color: whitesmoke;
  display:flex;
}
.extra p{
  color:brown;
  font-size: 25px;
}
.contact li>a{
  display: block;
}
.list div {
  display:inline-block;
  justify-content: space-evenly;
  
 
}
.list div li {
  font-size:25px;
}
.connected li>a{
  display:block;
}
.other li>a{
  display:block;
}
.extra .lista{
  display:inline-block;
  margin-left: 200px;
}
.extra .list{
  text-align: center;
}
h3{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  
}
.liste{
  text-align: center;
  background-color:whitesmoke;
}
.liste p{
  color:brown;
  font-size: 25px;
}
.ach{
  display:flex;
  justify-content:space-evenly;

}
div.list{
  justify-content:space-evenly;
}
.sponsors p{
  font-size: 40px;
  color: #FFFFFF;
  text-align: center;
}
.sponsors{
  display: inline-flex;
  background-color: #000000;
}
.a{
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline-flex;
}
.container0{
  background-color: whitesmoke;
  width:500px;
  height:300px;
  /*position:absolute;*/
  position: relative;
  transform: translate(-50%,-50%);
  left:50%;
  top:50%;
  border-radius: 5px;
  padding:20px;
  box-shadow: 0 15px 30px rbga(0,0,0,0.3);
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.b{
  display: flex;
  flex-direction: row;
}
#imazhi{
 width: 2000px;
 height: 400px;
}
